.detail-container {
    display: flex;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.detail-text {
    width: 100%;
    text-align: center;
}

.detail-text p {
    width: 100%;
    margin-top: 50px;
}

.btn-buy {
    width: 200px;
    padding: 10px;
    margin-top: 30px;
    background-color: #00695c;
    border-radius: 4px;
    color: #fff;
    font-size: 20px;
    border: none;
}