.category-banner {
    display: grid;
    grid-template-columns: repeat(2,450px);
    justify-content: center;
    margin-bottom: 40px;
}

.category-loader {
    grid-column: 1 / 3;
}

@media screen and (max-width: 960px){
    .category-banner {
        grid-template-columns: repeat(2,1fr);
    }
}

@media screen and (max-width: 720px){
    .category-banner {
       display: block;
    }
}
