.product-image {
    min-width: 200px;
    width: 100px;
}

.cart-list-product {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
}

.remove-product-btn {
    background-color: #cc0000;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}