
.buy-ticket h2 {
    padding: 0 10px;
    padding-bottom: 5px;
    background-color: #00695c;
    color: #fff;
    margin-top: 0;
}

.buy-ticket p {
    padding: 5px 10px;
}

.form-title {
    text-align: center;
}

.form-container {
    width: 300px;
}

.form-container .form-input {
    margin-bottom: 20px;
    width: 100%;
}

.form-container .form-btn {
    display: block;
    margin: 0 auto;

}

@media screen and (max-width: 720px){
    .form-container {
        width: 100%;
    }

    .buy-ticket h2 {
        font-size: 18px;
        padding-top: 5px;
    }
}