@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.title {
    width: 200px;
    text-align: center;
    padding: 10px 0;
    border-radius: 50%;
    background-color: #00695c;
    font-family: 'Oleo Script', cursive;
    color: #fff;
}

.btn-link .btn-nav {
    color: #fff;
    font-family: 'Oleo Script', cursive;
    font-weight: bold;
}



.img-icon {
    height: 100%;
}

